.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto;
}

.login-info-container {
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-info {
  font-size: 20px;
  margin: 0;
}

.login-button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: gray;
  color: black;
  margin-top: 10px;
}

.main-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.memo-list {
  width: 40%;
  padding: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.memo-item {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.5rem;
}

.memo-item:hover {
  text-decoration: none;
}

.memo-item.add-memo {
  color: blue;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  display: inline;
  padding: 0;
}

.memo-item.add-memo:hover {
  text-decoration: underline;
}

.memo-form {
  flex: 1;
  padding: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 700px;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100%;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:first-child {
  flex-basis: 70%;
  background-color: gray;
  color: black;
}

button:last-child {
  flex-basis: 30%;
  background-color: gray;
  color: black;
}
