.App {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  flex-direction: column;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}

.main-content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.memo-list {
  width: 40%;
  padding: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.memo-item {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.memo-item.add-memo {
  color: blue;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.memo-form {
  flex: 1;
  padding: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 700px;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100%;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:first-child {
  flex-basis: 70%;
  background-color: gray;
  color: black;
}

button:last-child {
  flex-basis: 30%;
  background-color: gray;
  color: black;
}
